.cardTransaction {
    width: 560px;
    background-color: #F8F9FA;;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    border-radius: 4px;
}

.cardTransaction h2 {
    font-size: 16px;
}

.cardTransaction h2, p {
    margin: 0 50px;
}

.descriType {
    margin: 5px;
}

.descriType h2, p {
    margin: 15px 0;
}

.descriType p {
    color: rgba(134, 142, 150, 1);
}

.entrie {
    border-left: 3px solid rgba(3, 184, 152, 1);
}

.exit {
    border-left: 3px solid rgba(233, 236, 239, 1)
}


@media screen and (max-width: 700px){
    .cardTransaction {
        width: 80vw;
        margin: 15px auto;
    }
}