body {
  font-family: 'Nunito Sans', sans-serif;
}

.mainDiv {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
}

.Form {
  display: flex;
  width: 20vw;
  margin: 0;
  flex-direction: column;
}